body{
    background-color: #323437;
    color: #646669;
    font-size: 23px;
    font-family: 'Roboto', sans-serif;  
}
h2{
    font-size: 35px; 
    letter-spacing: 1.5px;
    color: #e2b714;
    font-family: 'Roboto Mono', monospace;

}
.paragraph-container{ 
    text-align: center;
}
.paragraph-container span{
    font-weight:400; 
    border-left:2px solid transparent ; 
    border-radius:2px;  

}   
.paragraph-container span:nth-child(7){
    font-weight:400;
    transition:.3s;   
    animation: blink 1s; 
    animation-iteration-count: infinite;
} 
@keyframes blink { 50% { border-color: #e2b714; }  }
.typing-aria{
    display: flex;
    justify-content: center;
}
#paraContainer p{
    display: none;
} 
#paragraph{
    display: inline;
    position: relative;
}
textarea{
    resize: none;   
    outline: none;
    width: 100%;
    background-color: transparent;
    color:#fff;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: none;  
    opacity: 0;
    z-index: 1;
} 
::selection{
    background-color: #646669;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65vh;
} 
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px; 
    font-size: 25px;
    color: #646669;
    border-radius: 40px;
}
.box .btn button{
    background-color: #e2b714;
    border-radius: 10px;
    border:none; 
    padding: 10px 15px;
}
.box h5 span{
    font-size: 30px;
    color: #e2b714;
    border: none!important;
}
#about-me{ 
    z-index: 2; 
}
#about-me a{
    color: #646669;
    transition: .3s; 

}
#about-me a:not(:last-child){
    margin-right: 15px;
}
#about-me a:hover{
    color: #fff; 
}
